{% extends 'main.html' %}

{% block content %}

<h1 align="center" 
style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">About  page</h1>

<h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed a debitis aut totam laboriosam laborum, facere, itaque, dicta ad aspernatur odit odio nemo deleniti consequatur inventore nihil nesciunt voluptatum ducimus.
Quos esse dolorem explicabo, quam ipsum, nemo, quas a nostrum ducimus beatae repellat earum maiores consequuntur eius molestias veritatis exercitationem porro sed! Recusandae, quibusdam repellendus corporis laudantium non mollitia similique.
Tempora nostrum debitis praesentium voluptate voluptas, sunt laborum corrupti a eius, nisi laudantium commodi aliquid vel non facilis et veniam veritatis cupiditate hic necessitatibus molestiae enim, illum accusamus! Dignissimos, voluptates!
Maiores laboriosam sequi molestiae cumque rem. Quasi nemo, sit culpa facilis voluptate vel illo velit, illum dolore ipsa cum tempora nihil delectus ab impedit odio assumenda! Doloribus sit at ipsam!</h3>





{% endblock content %}